/* td.description {
    min-width: 450px;
    max-width: 650px;
    text-align: left;
    padding: 5px;
    margin: 0;

    min-height: 50px;
    max-height: 100px;
} */

p {
    display: inline-block;
}

.one {
    text-align: center;
    margin: 30px;
    padding: 15px;
    border: pink;
    border-style: groove;
    border-width: 20px;
}

.two {
    text-align: center;
    margin: 30px;
    padding: 15px;
    border: solid blue;
    border-width: 2px, 4px, 12px, 8px;
    border-radius: 20px;
}

.three {
    text-align: center;
    margin: 30px;
    padding: 15px;
    border: dashed grey;
    /* border-width: medium; */
    border-width: thick;
    /* border-width: thin; */
}

.four {
    text-align: center;
    margin: 30px;
    padding: 15px;
    border: 15px double red;
    box-shadow: -50px 10px 100px #777;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul > li {
    display: inline;
    padding: 10px;
}

li.begone {
    visibility: hidden;
}

.circle {
    margin: 100px;
    padding: 10px;
    text-align: center;
    border: 3px solid black;
    border-radius: 100px;
}